<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.firstmetcs.springbootsecurityoauth.dao.security.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.firstmetcs.springbootsecurityoauth.model.security.SysRole">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="INS_USER_ID" jdbcType="VARCHAR" property="insUserId" />
    <result column="INS_DTTM" jdbcType="TIMESTAMP" property="insDttm" />
    <result column="UPD_USER_ID" jdbcType="VARCHAR" property="updUserId" />
    <result column="UPD_DTTM" jdbcType="TIMESTAMP" property="updDttm" />
    <collection property="routeList" ofType="com.firstmetcs.springbootsecurityoauth.model.security.SysRoute"
                select="com.firstmetcs.springbootsecurityoauth.dao.security.SysRouteMapper.selectByRoleId"
                column="ID">
      <id column="ID" jdbcType="INTEGER" property="id" />
      <result column="CODE" jdbcType="VARCHAR" property="code" />
      <result column="NAME" jdbcType="VARCHAR" property="name" />
      <result column="PATH" jdbcType="VARCHAR" property="path" />
      <result column="ICON" jdbcType="VARCHAR" property="icon" />
      <result column="HIDE_IN_MENU" jdbcType="INTEGER" property="hideInMenu" />
      <result column="PID" jdbcType="INTEGER" property="pid" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    ID, CODE, NAME, STATUS, REMARK, INS_USER_ID, INS_DTTM, UPD_USER_ID, UPD_DTTM
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from SYS_ROLE
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from SYS_ROLE
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.firstmetcs.springbootsecurityoauth.model.security.SysRole" useGeneratedKeys="true" keyProperty="id">
    insert into SYS_ROLE (ID, CODE, NAME,
      STATUS, REMARK, INS_USER_ID,
      INS_DTTM, UPD_USER_ID, UPD_DTTM
      )
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{insUserId,jdbcType=VARCHAR},
      #{insDttm,jdbcType=TIMESTAMP}, #{updUserId,jdbcType=VARCHAR}, #{updDttm,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.firstmetcs.springbootsecurityoauth.model.security.SysRole">
    insert into SYS_ROLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="insUserId != null">
        INS_USER_ID,
      </if>
      <if test="insDttm != null">
        INS_DTTM,
      </if>
      <if test="updUserId != null">
        UPD_USER_ID,
      </if>
      <if test="updDttm != null">
        UPD_DTTM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="insUserId != null">
        #{insUserId,jdbcType=VARCHAR},
      </if>
      <if test="insDttm != null">
        #{insDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="updUserId != null">
        #{updUserId,jdbcType=VARCHAR},
      </if>
      <if test="updDttm != null">
        #{updDttm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.firstmetcs.springbootsecurityoauth.model.security.SysRole">
    update SYS_ROLE
    <set>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="insUserId != null">
        INS_USER_ID = #{insUserId,jdbcType=VARCHAR},
      </if>
      <if test="insDttm != null">
        INS_DTTM = #{insDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="updUserId != null">
        UPD_USER_ID = #{updUserId,jdbcType=VARCHAR},
      </if>
      <if test="updDttm != null">
        UPD_DTTM = #{updDttm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.firstmetcs.springbootsecurityoauth.model.security.SysRole">
    update SYS_ROLE
    set CODE = #{code,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      REMARK = #{remark,jdbcType=VARCHAR},
      INS_USER_ID = #{insUserId,jdbcType=VARCHAR},
      INS_DTTM = #{insDttm,jdbcType=TIMESTAMP},
      UPD_USER_ID = #{updUserId,jdbcType=VARCHAR},
      UPD_DTTM = #{updDttm,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAllRole" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from SYS_ROLE
  </select>
</mapper>